In [1]:
from pyspark.sql import *
spark=SparkSession.builder.appName('s18').getOrCreate()

In [2]:
df=spark.read.csv('/FileStore/tables/provider_level_measure_rates_for_ahrq_patient_safety_indicator_11_psi_11-9fa94.csv', inferSchema=True, header=True)

In [3]:
df.na.fill(5).dropDuplicates().show(5,truncate=True)

In [4]:
df1=df.select('rate').filter(df['Hosp_id']>5000).na.fill(5)

In [5]:
df1.show(5)

In [6]:
df2=df.groupBy(df.ADM_DISC)

In [7]:
df3=df2.avg('RATE').alias('avg')

In [8]:
df3.show()

In [9]:
df4=df2.max('INTERVAL_LOWER_LIMIT')
df4.show()

In [10]:
df5=df.createOrReplaceTempView('data')

In [11]:
df6=spark.sql('select max(rate) as max,min(rate) as min from data')

In [12]:
df6.show()

In [13]:
df7=spark.sql('select count(*) as count from data')

In [14]:
-df7.show()

In [15]:
df8=spark.sql('select rate,adm_disc,count(*) as count from data group by rate,adm_disc')

In [16]:
df8.show()

In [17]:
df.filter(df['hosp_id']>5000).select('rate', 'adm_disc').show()

In [18]:
df9=spark.sql('select * from data Order BY rate desc')

In [19]:
df9.show()

In [20]:
df10=spark.sql('select avg(rate) as rate,max(adm_disc) as max from data where hosp_id > 5000')

In [21]:
df10.show()

In [22]:
df11=spark.sql('select hosp_id,rate,count(hosp_id) from data group by hosp_id,rate')

In [23]:
df11.show(5)

In [24]:
df12=spark.sql('select rate from data group by rate')

In [25]:
df12.show()

In [26]:
df.show()

In [27]:
df12=spark.sql('select max(hosp_id) as max,min(hosp_id) as min from data')

In [28]:
df12.show()

In [29]:
df13=spark.sql('select rate,count(*) from data group by rate having count(*)>1 ')

In [30]:
df13.show()

In [31]:
df14=spark.sql('select adm_disc from data where hosp_id = (select min(hosp_id) from data)')

In [32]:
df14.show()

In [33]:
df15=spark.sql('select distinct adm_disc from data where hosp_id IN(select hosp_id from data)')

In [34]:
df15.show()

In [35]:
df16=spark.sql('select hosp_id, max(rate) from data group by hosp_id')

In [36]:
df17=spark.sql('select * from data where (adm_disc, rate) IN (select adm_disc, max(rate) from data group by adm_disc)')

In [37]:
df17.show()